<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%X{traceId}:%X{spanId}] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="com.joshgav" level="TRACE"/>
    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>
</configuration>